.mainContainer {
   padding: 40px 0;
}
div.filter i{
    vertical-align: super;
    font-size: 1.2em;
}

.modal {
    display: block;
}

div.filter {
    padding-bottom: 0.7em;
}

a.a-pointer{
    cursor: pointer;
}

header{
    margin: 2em 0;
}

.report-section {
    padding-bottom: 1em;
}

i.clickable{
	cursor: pointer;
}

i.hover{
    color: #3276b1
}

tr.sum {	
	font-weight: bold;
}

.singleTx select,
.singleTx input {
      width: auto;
}

.form-error-message {
    color: red;
    font-weight: bold;
}

.form-control.ng-invalid.ng-dirty {
    border-color: red;
}

.add-new-button {
    float: right;
    margin-bottom: 1em;
    height: 30px;
    vertical-align: top;
}

.inverse-dropdown {
    background-color: #222;
    border-color: #080808;
    padding: 0;
    margin: 0;
}

.inverse-dropdown li a {
    color: #999;
}

.inverse-dropdown li a:hover {
    color: #fff;
    background-color: #000;
}

.inverse-dropdown .divider {
    background-color: #000;
}

.emphasize {
    font-weight: bold;
}

.report-section-transactions {
    padding-top: 2em;
}

.comment{
    color: #5e5e5e;
    padding-left: 3em;
}