<div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container">
        <button type="button" class="btn btn-default navbar-btn" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">Home - with angularJS</a>

        <div class="nav-collapse collapse">
            <ul class="nav" role="navigation" >
                <li data-ng-class="{'active':getClass('/reports')}">
                    <a href="#/reports">Reports</a>
                </li>
                <li data-ng-class="{'active':getClass('/categories')}">
                    <a href="#/categories">Categories</a>
                </li>
            </ul>
        </div>
    </div>
</div>