<div class="container">
    <div class="row">
        <header>
            <h1>All Categories</h1>
        </header>
        <div class="filter">
            <i class="fa fa-search"></i>
            <input type=text ng-model="filterStr">
            <button type="submit" class="btn btn-default btn-primary add-new-button" ng-click="addNewCategory()">
                <i class="fa fa-plus"></i>  Add Category
            </button>
        </div>
        <table  class="table table-hover table-striped table-condensed table-bordered ordersTable">
            <thead>
                <tr>
                    <th ng-click="setOrderBy('name')">
                        <i ng-class="[elementClass.name, 'pull-right', 'fa-lg', 'clickable']"></i>Name
                    </th>
                    <th ng-click="setOrderBy('amount')">
                        <i ng-class="[elementClass.amount, 'pull-right', 'fa-lg', 'clickable']"></i>Default Amount
                    </th>
                    <th ng-click="setOrderBy('reportSection.name')">
                        <i ng-class="[elementClass.type, 'pull-right', 'fa-lg', 'clickable']"></i>Report Section
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="category in data.categories | filter:filterStr | orderBy:data.orderBy:data.reverse">
                    <td> {{ category.name }}</td>
                    <td> {{ category.amount | currency }}</td>
                    <td> {{ category.reportSection.name }}</td>
                    <td>
                        <span ng-click="editCategory(category)"><i class="fa fa-pencil fa-fw fa-lg clickable" hover-class="hover" ></i></span>
                        <span ng-click="deleteCategory(category)"><i class="fa fa-trash-o fa-fw fa-lg clickable" hover-class="hover" ></i></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


