<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
</div>
<form role="form" name="form" novalidate>
    <div class="modal-body">
        <fieldset>
            <legend>{{ title }}</legend>
            <div class="form-group">
                <label for="edit-name">Name: </label>
                <input class="form-control" type="text" id="edit-name" placeholder="Name" name="name" ng-model="data.tempCategory.name" required>
                <span class="form-error-message" ng-show="form.name.$error.required">Name is required</span>
            </div>
            <div class="form-group">
                <label for="edit-amount">Default Amount: </label>
                <input class="form-control" type="number" id="edit-amount" name="amount" placeholder="Amount" ng-model="data.tempCategory.amount" required>
                <span class="form-error-message" ng-show="form.amount.$error.required"> Default Amount is required</span>
            </div>
            <div class="form-group">
                <label for="edit-report-section">Report Section: </label>
                <select class="form-control" id="edit-report-section" name="reportSection" ng-model="data.tempCategory.reportSection" ng-options="reportSection as reportSection.name for reportSection in data.reportSections" required></select>
                <span class="form-error-message" ng-show="form.reportSection.$error.required">Report Section is required</span>
            </div>
        </fieldset>
        <div class="external-link" ng-click="cancel()">
            <a data-ng-href="#/reportSections">Report Sections</a>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveChanges()">Save changes</button>
        <button type="button" class="btn btn-primary" ng-click="saveAndCreateNew()">Save & Add new</button>
    </div>
</form>