<div class="hero-unit">
    <h1>Welcome!!</h1>
    <p>This app will help you manage your monthly budget using collection of reports and charts that you can later analyze</p>
    <ul>
        <li ng-repeat="category in data.categories">
            Name: {{ category.name }}  <br>
            Type: {{ category.type }}  <br>
            Default Amount : {{ category.amount | currency }} <br><br>
        </li>
    </ul>
</div>
