<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
</div>
<form role="form" name="form" novalidate>
    <div class="modal-body">
        <fieldset>
            <legend>{{ title }}</legend>
            <div class="form-group">
                <label for="edit-name">Name: </label>
                <input class="form-control" type="text" id="edit-name" placeholder="name" name="name" ng-model="data.tempReportSection.name" required>
                <span class="form-error-message" ng-show="form.name.$error.required">Name is required</span>
            </div>
            <div class="form-group">
                <label for="edit-description">Description: </label>
                <input class="form-control" type="text" placeholder="description" id="edit-description" ng-model="data.tempReportSection.description">
            </div>
            <div class="form-group">
                <label for="edit-order">Display Order: </label>
                <input min="1" class="form-control" type="number" id="edit-order" name="order" placeholder="order" ng-model="data.tempReportSection.order" required>
                <span class="form-error-message" ng-show="form.order.$error.syntax"> Only integers are allowed</span>
                <span class="form-error-message" ng-show="form.order.$error.required"> Order is required</span>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveChanges()">Save changes</button>
    </div>
</form>
