<!--suppress HtmlFormInputWithoutLabel -->
<div class="container">
    <div class="row">
        <header>
            <h1>Report Sections</h1>
        </header>
        <div class="filter">
            <i class="fa fa-search"></i>
            <input type=text ng-model="filterStr">
            <button type="submit" class="btn btn-default btn-primary add-new-button" ng-click="addNewReportSection()">
                <i class="fa fa-plus"></i>  Add Report Section
            </button>
        </div>
        <table  class="table table-hover table-striped table-condensed table-bordered ordersTable">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="reportSection in data.reportSections | filter:filterStr | orderBy:'order'">
                <td> {{ reportSection.order }}</td>
                <td> {{ reportSection.name }}</td>
                <td> {{ reportSection.description }}</td>
                <td>
                    <span ng-click="editReportSection(reportSection)"><i class="fa fa-fw fa-pencil fa-lg clickable" hover-class="hover" ></i></span>
                    <span ng-click="deleteReportSection(reportSection)"><i class="fa fa-trash-o fa-fw fa-lg clickable" hover-class="hover" ng-click="deleteSection()"></i></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


