<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
</div>
<form role="form" name="form" novalidate>
    <div class="modal-body">
        <fieldset>
            <legend>{{ title }}</legend>
            <div class="form-group">
                <label for="edit-date">Date: </label>
                <input class="form-control" type="text" id="edit-date" placeholder="MM/yyyy" name="date" ng-model="data.tempReport.date" required>
                <span class="form-error-message" ng-show="form.date.$error.required">Date is required</span>
                <span class="form-error-message" ng-show="form.date.$error.syntax">Date format is MM/yyyy (e.g 05/2014)</span>
            </div>
            <div class="form-group">
                <label for="edit-comments">Comments: </label>
                <input class="form-control" type="text" placeholder="comments" id="edit-comments" ng-model="data.tempReport.comments">
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveChanges()">Save changes</button>
    </div>
</form>