<h3>{{section.title}}</h3>
<table  class="table table-hover table-striped table-condensed table-bordered ordersTable">
    <thead>
    <tr>
        <th>Category</th>
        <th>Estimated</th>
        <th>Actual</th>
        <th>Difference</th>
        <th>Type</th>
        <th>Comments</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="tx in reportSection.transactions">
        <td>{{tx.category}}</td>
        <td>{{tx.estimated}}</td>
        <td>{{tx.actual}}</td>
        <td>{{tx.actual - tx.estimated}}</td>
        <td>{{tx.moneyTransferType}}</td>
        <td>{{tx.comments}}</td>
        <td>
            <i class="fa fa-pencil fa-fw fa-lg clickable"  ng-click="editTransaction(tx)"></i>
            <i class="fa fa-trash-o fa-fw fa-lg clickable" ng-click="deleteTransaction(tx)"></i>  
        </td>
    </tr>
    <tr ng-show="showNewTransactionForm()" class="singleTx" >
        <td>
           <select id="transaction-category" ng-model="newTx.category" ng-options="category for category in reportSection.categories"></select>
        </td>
        <td>{{newTx.estimated}}</td>
        <td>
            <input type="text" ng-model="newTx.actual">
        </td>
        <td>
            {{ calculateDifference() }}
        </td>
        <td>
            <select id="transaction-money-transfer-type" ng-model="newTx.moneyTransferType" ng-options="moneyTranferType for moneyTranferType in reportSection.moneyTransferTypes"></select>
        </td>
        <td>
            <input type="text" ng-model="newTx.comments">
        </td>
        <td>
            <i class="fa fa-save fa-fw fa-lg clickable"  ng-click="saveNewTransaction()"></i>
            <i class="fa fa-undo fa-fw fa-lg clickable" ng-click="resetNewTransaction()"></i>
            <i class="fa fa-times fa-fw fa-lg clickable" ng-click="closeNewTransaction()"></i>
        </td>
    </tr>
    <tr class="sum">
        <td>Total</td>
        <td>{{total.estimated}}</td>
        <td>{{total.actual}}</td>
        <td>{{total.actual - total.estimated}}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>
