<div class="container">
    <div class="row">
        <div class="col-md-8">
            <header>
                <h1>Monthly Report - {{ report.date | date:'MM/yyyy' }}</h1>
            </header>

            <div class="report-section" ng-include="template.url" ng-controller="IncomeSectionController"></div><hr/>
            <div class="report-section" ng-include="template.url" ng-controller="FixedSectionController"></div><hr/>
            <div class="report-section" ng-include="template.url" ng-controller="VarSectionController"></div><hr/>
            <div class="report-section" ng-include="template.url" ng-controller="OneTimeSectionController"></div><hr/>
        </div>
        <div class="col-md-4">
            <div ng-include="display.template"></div>
        </div>
    </div>
</div>
