<div class="container">
    <div class="row">
        <header>
            <h1>All reports</h1>
        </header>
        <div class="filter">
            <i class="fa fa-search"></i>
            <input type=text ng-model="filterStr">
            <button type="submit" class="btn btn-default btn-primary add-new-button" ng-click="addNewReport()">
                <i class="fa fa-plus"></i>  Add Report
            </button>
        </div>
        <table  class="table table-hover table-striped table-condensed table-bordered ordersTable">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="report in data.reports | filter:filterStr | orderBy:'date'">
                    <td> {{ report.date | date:'MM/yyyy' }}</td>
                    <td> {{ report.comments}}</td>
                    <td>
                        <span ng-click="viewReport(report)">
                            <a ng-href="{{getTransactionLink(report)}}">
                                <i class="fa fa-fw fa-tasks fa-lg clickable" hover-class="hover" title="See report details"></i>
                            </a>
                        </span>
                        <span ng-click="editReport(report)"><i class="fa fa-fw fa-pencil fa-lg clickable" hover-class="hover" title="Edit" ></i></span>
                        <span ng-click="deleteReport(report)"><i class="fa fa-trash-o fa-fw fa-lg clickable" hover-class="hover" ng-click="deleteSection()" title="delete"></i></span>
                    </td>
                </tr>
            </tbody>
        </table>
     </div>
</div>

