<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
</div>
<form role="form" name="form" novalidate>
    <div class="modal-body">
        <fieldset>
            <legend>{{ title }}</legend>
            <div class="form-group">
                <label for="edit-category">Category:</label>
                <select class="form-control" id="edit-category" name="category" ng-model="data.tempTransaction.category"
                        ng-options="category as categoryLabel(category) for category in data.categories" required></select>
                <span class="form-error-message" ng-show="form.category.$error.required">Category is required</span>
            </div>
            <div class="form-group">
                <label for="edit-predicted">Predicted Amount: </label>
                <input class="form-control" type="number" id="edit-predicted" name="predicted" placeholder="Predicted" ng-model="data.tempTransaction.predictedAmount" required>
                <span class="form-error-message" ng-show="form.predicted.$error.required"> Predicted Amount is required</span>
            </div>
            <div class="form-group">
                <label for="edit-actual">Actual Amount: </label>
                <input class="form-control" type="number" id="edit-actual" name="actual" placeholder="Actual" ng-model="data.tempTransaction.actualAmount" required>
                <span class="form-error-message" ng-show="form.actual.$error.required"> Actual Amount is required</span>
            </div>
            <div class="form-group">
                <label for="edit-transaction-method">Transaction Method: </label>
                <select class="form-control" id="edit-transaction-method" name="transactionMethod" ng-model="data.tempTransaction.transactionMethod"
                        ng-options="transactionMethod as transactionMethod.name for transactionMethod in data.transactionMethods" required></select>
                <span class="form-error-message" ng-show="form.transactionMethod.$error.required">Transaction Method is required</span>
            </div>
            <div class="form-group">
                <label for="edit-comments">Description: </label>
                <input class="form-control" type="text" placeholder="comments" id="edit-comments" ng-model="data.tempTransaction.comments">
            </div>
        </fieldset>
        <div class="external-link" ng-click="cancel()">
            <a data-ng-href="#/transactionMethods">Transaction Methods</a>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveChanges()">Save changes</button>
        <button type="button" class="btn btn-primary" ng-click="saveAndCreateNew()">Save & Add New</button>
    </div>
</form>