<!--suppress HtmlFormInputWithoutLabel -->
<div class="container">
    <div class="row">
        <header>
            <h1>Transaction Methods</h1>
        </header>
        <div class="filter">
            <i class="fa fa-search"></i>
            <input type=text ng-model="filterStr">
            <button type="submit" class="btn btn-default btn-primary add-new-button" ng-click="addNewTransactionMethod()">
                <i class="fa fa-plus"></i>  Add Transaction Method
            </button>
        </div>
        <table  class="table table-hover table-striped table-condensed table-bordered ordersTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="transactionMethod in data.transactionMethods | filter:filterStr | orderBy:'name'">
                <td> {{ transactionMethod.name }}</td>
                <td> {{ transactionMethod.description }}</td>
                <td>
                    <span ng-click="editTransactionMethod(transactionMethod)"><i class="fa fa-fw fa-pencil fa-lg clickable" hover-class="hover" ></i></span>
                    <span ng-click="deleteTransactionMethod(transactionMethod)"><i class="fa fa-trash-o fa-fw fa-lg clickable" hover-class="hover" ng-click="deleteTransactionMethod"></i></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


