<!--suppress HtmlFormInputWithoutLabel -->
<div class="container">
    <div class="row">
        <header>
            <h1>Transactions  -  {{query.report.date.toString('MMM yyyy')}}
                <button type="submit" class="btn btn-default btn-primary add-new-button" ng-click="addNewTransaction(reportSection)">
                    <i class="fa fa-plus"></i>  Add Transaction
                </button>
            </h1>
        </header>

        <div ng-repeat="reportSectionDetails in data.transactionByReportSections" class="report-section-transactions">
            <h2>{{ reportSectionDetails.reportSection }}</h2>
            <table  class="table table-hover table-striped table-condensed table-bordered ordersTable">
                <thead>
                <tr>
                    <th>Category</th>
                    <th>Predicted</th>
                    <th>Actual</th>
                    <th>Transaction Method</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="transaction in reportSectionDetails.transactions | filter:filter | orderBy:'category.name'" >
                    <td> {{ transaction.category.name }}</td>
                    <td> {{ transaction.predictedAmount }}</td>
                    <td> {{ transaction.actualAmount }}</td>
                    <td> {{ transaction.transactionMethod.name }}</td>
                    <td> {{ transaction.comments }}</td>
                    <td>
                        <span ng-click="editTransaction(transaction)"><i class="fa fa-fw fa-pencil fa-lg clickable" hover-class="hover" ></i></span>
                        <span ng-click="deleteTransaction(transaction)"><i class="fa fa-trash-o fa-fw fa-lg clickable" hover-class="hover"></i></span>
                    </td>
                </tr>
                <tr class="emphasize">
                   <td>Total</td>
                   <td>{{ reportSectionDetails.total.predicted }}</td>
                   <td>{{ reportSectionDetails.total.actual }}</td>
                   <td></td>
                   <td></td>
                   <td></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


